#drawing-pad {
    display: flex;
    border: 5px solid black;
    width: 40rem;
    height: 40rem;

}

.grid-basis {
    display: flex;
    flex-direction: column;
}

.square {
    box-shadow: 0px 0px 0px 1px gray;
}
.secondary-container{
    display: flex;
    justify-content: space-between;
}

body {
    display: flex;
    flex-direction: column;
}

.main-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}